* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      overflow: hidden;
      transition: background 1s ease;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .container {
      width: 100%;
      height: 100vh;
      display: flex;
      align-items:center;
      justify-content: center;
      backdrop-filter: blur(6px);
    }

    .music-player {
      width: 400px;
      padding: 25px 35px;
      text-align: center;
      transition: 0.4s;
      border-radius: 15px;
    }
    .song-img {
      width: 220px;
      border-radius: 50%;
      border: 8px solid #fff;
      box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
      transition: 0.4s;
    }

    .music-player h1 {
      font-size: 25px;
      font-weight: 400;
      color:#e90878;
      margin-top: 20px;
    }

    .music-player p {
      font-size: 14px;
      color:blue;
    }

    #progress {
      width: 100%;
      height: 6px;
      background:#f53192;
      border-radius: 4px;
      cursor: pointer;
      margin: 40px 0;
    }

    .controls {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .controls button {
      width: 60px;
      height: 60px;
      margin: 20px;
      background: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #f53192;
      box-shadow: 0 10px 60px rgba(196, 18, 121, 0.22);
      cursor: pointer;
      border: none;
      font-size: 20px;
    }