    *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      overflow:hidden;
    }
    .container{
      width: 100%;
      height: 100vh;
      background: #333;
      display: flex;
      align-items:center;
      justify-content: center;
    }
    .music-player{
      background: #ffe0ff;
      width: 400px;
      padding: 25px 35px;
      text-align: center;      
      transition: 0.4s;
    }
    
    nav{
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;
    }
    nav .circle{
      border-radius: 50%;
      width: 40px;
      height: 40px;
      line-height: 40px;
      background: #fff;
      color: #f53192;
      box-shadow: 0 5px 10px rgba(255, 26, 26, 0.22);
    }
    .song-img{
      width: 220px;
      border-radius: 50%;
      border: 8px solid #fff;
      box-shadow: 0 10px 60px rgba(255, 26, 26, 0.22);
      transition: 0.4s;
    }
    .music-player h1{
      font-size: 20px;
      font-weight: 400;
      color: #333;
      margin-top: 20px;
    }
    .music-player p{
      font-size: 14px;
      color: #333;
    }
    #progress{
      width: 100%;
      height: 6px;
      background:#f53192;
      border-radius: 4px;
      cursor: pointer;
      margin: 40px 0; 
    }
    .controls{
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .controls button{
      width: 60px;
      height: 60px;
      margin: 20px;
      background: #fff;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: #f53192;
      box-shadow: 0 10px 60px rgba(196, 18, 121, 0.22);
      cursor: pointer;
      border: none;
      font-size: 20px;
    }
    #artist{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      color: #f53192;
      font-size: 18px;
    }
    #title{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }